body{
    background-color: #141414;
    color: #ffffff;
}
img{
    margin-bottom: 25px;
}
div.center{
    width: 80%;

    text-align: center;
    margin: 0 auto;
}
textarea#text-input{
    width: 500px;
    height: 50px;

    margin: 0 auto;
    border-radius: 10px;
}