*{
    margin: 0;
    padding: 0;
    border: 0;

    font-family: 'Fredoka One', cursive;
}
body{
    overflow-x: hidden; 
}

/* USER - ERROR - SECTION */

section#userError{
    display: none;
    width: 100%;
    text-align: center;

    margin: auto;

    padding: 30px;

    background-color: #BF3111;
    color: #ffffff;
}

/* USER - ERROR - SECTION */

/* USER-HELP-SECTION */

section#userHelp{
    display: block;
    position: relative;

    top: 0;
    left: 0;
}
img#questionMark{
    width: 50px;
    height: 50px;
}
div#userInfo{
    display: none;

    margin-left: 50px;
    margin-top: 50px;
}
div#userInfo h2{
    margin-bottom: 25px;
}
div#userInfo ol#userHelpOL li{
    margin-bottom: 15px;
}

/* USER-HELP-SECTION */

main#CRUD-PROJECT{
    width: 80%;

    margin: auto;
    margin-top: 5%;
    
    text-align: center;
}

main#CRUD-PROJECT h1#title{
    margin-bottom: 5%;

    color: #58384D;
}

section#user-section{
    width: 1500px;

    margin: 0 auto;
    margin-top: 7.5%;
}

/* INPUTS & BUTTON */

section#inputs{
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    grid-row-gap: 40px;

    width: 30%;

    margin-left: 37.5%;
    margin-bottom: 5%;
}
section#inputs > input{
    width: 200px;
    height: 20px;
    padding: 5px;
    font-size: 15px;

    border-radius: 5px;
    border: 0;

    margin: auto;

    color: #F06B80;
}
section#inputs > input:hover{
    background-color: #58384D;
    color: #F06B80;

    border: 0;
    border-radius: 5px;

    transition: all 4500ms;
}

/* Don't make the spin button transparent ( add opacity of 1 so the user can see it and so that at the hover effect won't impact the width & height & padding of the entire parent-element */
input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}
input.inputInUse{
    padding: 5px;
    margin: 5px;
    border: 5px solid;
}

button#btnCreate{
    width: 200px;
    padding: 15px;

    text-align: center;

    color: #412C38;
    background-color: #F06B80;
}
button#btnCreate:hover{
    background-color: #412C38;
    color: #F06B80;
    border-radius: 25px;

    transition: all 4500ms;
}

/* INPUTS & BUTTON */

/* TABLE */

table#products{
    width: 1500px;

    margin: 0 auto;
    margin-top: 7.5%;
    margin-bottom: 2.5%;

    text-align: center;
}
table#products thead th{
    font-size: 17.5px;
    padding: 7.5px;
}
thead th:nth-child(odd), td.productID, td.productPrice{
    background-color: #58384D;
    color: #F06B80;
}
tbody td{
    padding: 2.5px;
}

img.productUpdateIcon, img.productDeleteIcon{
    width: 20px;
    height: 20px;

    padding: 5px;
    border: 3px solid #ffffff; /* Transparent border to fill up space, so that the hover effect doesn't change the entire width & height of the <td> */
}
img.productUpdateIcon:hover{
    border: 3px solid rgb(236, 238, 94);
}
img.productDeleteIcon:hover{
    border: 3px solid #89495F;
}

tbody input{
    text-align: center;
    color: #F06B80;
    font-size: 15px;
}
tbody td:nth-child(odd) input{
    background-color: #58384D;
    color: #F06B80;
}


/* TABLE */